@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    .card-title {
        float: left;
        font-size: 20px;
    }
}

.card-title {
    float: left;
    font-size: 20px;
}

.card-option {
    float: right;
}

.bg-primary {
    background-color: #6875f5;
}

.text-primary {
    color: #6875f5;
}
